/* Setting the spacing of the page */
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Setting the spacing of the container holding the nav bar and card */
main {
  border: black solid;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 10% auto auto auto;
  padding-top: 0px;
  width: 50%;
}
/* Styling the main element when the highscores are displayed */
#main-scores {
  border: 0;
}

/* Styling and spacing the nav bar */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: black;
}

/* styling and spacing the different sections of the card */
#top-card,
#middle-card, 
#bottom-card {
  padding-bottom: 2%;
  width: 100%;
  border-radius: 10px;
  color: black;
  text-align: center;
  margin-bottom: 1%;
}
#top-card {
  font-size: 100%;
}
#middle-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Styling the footer */
footer {
  position: fixed;
  left: 0;
  font-size: 80%;
  bottom: 0;
  width: 100%;
  text-align: center;
}
footer p {
  width: 50%;
  padding: 2% 10%;
}

/* Styling the buttons in and out of the game */
.btn-answer {
  margin: 1.5% 2%;
  min-width: 40%;
}
#btnSave {
  margin-left: 2%; 
}
#btnHome {
  margin-right: 2%;
}

/* Styling the submit label and inputs */
#submit-label {
  margin-right: 2%;
}
#submit-input {
  width: 20%;
}

/* Styling the table in the highscore section */
table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid black;
  width: 50%;
}
thead {
  border-bottom: 1px solid black;
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}
td {
  text-align: left;
  width: 50%;
}